In [37]:
import pandas as pd 
import sqlite3

In [38]:
#Call Census file 
census_file = 'Resources/Census_data.csv'
census_file = pd.read_csv(census_file)
census_file.head()

,Unnamed: 0,Label (Grouping),Alabama!!Estimate,Alabama!!Margin of Error,Alabama!!Percent,Alabama!!Percent Margin of Error,Alaska!!Estimate,Alaska!!Margin of Error,Alaska!!Percent,Alaska!!Percent Margin of Error,...,Wisconsin!!Percent,Wisconsin!!Percent Margin of Error,Wyoming!!Estimate,Wyoming!!Margin of Error,Wyoming!!Percent,Wyoming!!Percent Margin of Error,Puerto Rico!!Estimate,Puerto Rico!!Margin of Error,Puerto Rico!!Percent,Puerto Rico!!Percent Margin of Error
0,HOUSING OCCUPANCY,Total housing units,"2,313,616",±360,"2,313,616",(X),"327,889",±219,"327,889",(X),...,"2,748,274",(X),"274,373",±94,"274,373",(X),"1,526,801","±7,559","1,526,801",(X)
1,HOUSING OCCUPANCY,Occupied housing units,"1,967,559","±10,527",85.00%,±0.5,"271,311","±3,313",82.70%,±1.0,...,89.10%,±0.3,"242,763","±2,909",88.50%,±1.1,"1,165,982","±9,161",76.40%,±0.5
2,HOUSING OCCUPANCY,Vacant housing units,"346,057","±10,517",15.00%,±0.5,"56,578","±3,295",17.30%,±1.0,...,10.90%,±0.3,"31,610","±2,929",11.50%,±1.1,"360,819","±8,282",23.60%,±0.5
3,HOUSING OCCUPANCY,Homeowner vacancy rate,1,±0.2,(X),(X),0.7,±0.3,(X),(X),...,(X),(X),0.7,±0.4,(X),(X),1.8,±0.2,(X),(X)
4,HOUSING OCCUPANCY,Rental vacancy rate,7.2,±0.6,(X),(X),6.6,±1.5,(X),(X),...,(X),(X),5.9,±1.5,(X),(X),5.7,±0.5,(X),(X)

In [39]:
#Drop the "Unnamed: 0" column
census_file.drop(["Unnamed: 0"], axis=1, inplace=True) 
census_file.head()

#Drop Margin of Error and Percent Margin of Error columns  
margin = census_file.loc[:,census_file.columns.str.contains("Margin of Error")]
census_file.drop(margin, axis=1, inplace=True) 

#Drop label(Grouping)
label_grouping = census_file.loc[:,census_file.columns.str.contains("Label")]
census_file.drop(label_grouping, axis=1, inplace=True)

#Replace !! with _ 
census_file.columns = census_file.columns.str.replace('!!','_')
census_file.head()

,Alabama_Estimate,Alabama_Percent,Alaska_Estimate,Alaska_Percent,Arizona_Estimate,Arizona_Percent,Arkansas_Estimate,Arkansas_Percent,California_Estimate,California_Percent,...,Washington_Estimate,Washington_Percent,West Virginia_Estimate,West Virginia_Percent,Wisconsin_Estimate,Wisconsin_Percent,Wyoming_Estimate,Wyoming_Percent,Puerto Rico_Estimate,Puerto Rico_Percent
0,"2,313,616","2,313,616","327,889","327,889","3,138,685","3,138,685","1,380,768","1,380,768","14,512,149","14,512,149",...,"3,257,140","3,257,140","858,462","858,462","2,748,274","2,748,274","274,373","274,373","1,526,801","1,526,801"
1,"1,967,559",85.00%,"271,311",82.70%,"2,817,723",89.80%,"1,183,675",85.70%,"13,429,063",92.50%,...,"3,022,255",92.80%,"722,201",84.10%,"2,449,970",89.10%,"242,763",88.50%,"1,165,982",76.40%
2,"346,057",15.00%,"56,578",17.30%,"320,962",10.20%,"197,093",14.30%,"1,083,086",7.50%,...,"234,885",7.20%,"136,261",15.90%,"298,304",10.90%,"31,610",11.50%,"360,819",23.60%
3,1,(X),0.7,(X),0.8,(X),1.1,(X),0.7,(X),...,0.6,(X),1.1,(X),0.6,(X),0.7,(X),1.8,(X)
4,7.2,(X),6.6,(X),4.1,(X),6.3,(X),4.1,(X),...,4,(X),6.5,(X),4.5,(X),5.9,(X),5.7,(X)

In [40]:
#Pull out estimates 
estimate = census_file.loc[:,census_file.columns.str.contains("Estimate")]
estimate.head()

,Alabama_Estimate,Alaska_Estimate,Arizona_Estimate,Arkansas_Estimate,California_Estimate,Colorado_Estimate,Connecticut_Estimate,Delaware_Estimate,District of Columbia_Estimate,Florida_Estimate,...,Tennessee_Estimate,Texas_Estimate,Utah_Estimate,Vermont_Estimate,Virginia_Estimate,Washington_Estimate,West Virginia_Estimate,Wisconsin_Estimate,Wyoming_Estimate,Puerto Rico_Estimate
0,"2,313,616","327,889","3,138,685","1,380,768","14,512,149","2,540,783","1,536,327","457,978","357,482","10,054,509",...,"3,087,992","11,867,820","1,190,154","336,747","3,652,329","3,257,140","858,462","2,748,274","274,373","1,526,801"
1,"1,967,559","271,311","2,817,723","1,183,675","13,429,063","2,313,042","1,428,313","395,656","319,565","8,565,329",...,"2,770,395","10,796,247","1,101,499","270,163","3,331,461","3,022,255","722,201","2,449,970","242,763","1,165,982"
2,"346,057","56,578","320,962","197,093","1,083,086","227,741","108,014","62,322","37,917","1,489,180",...,"317,597","1,071,573","88,655","66,584","320,868","234,885","136,261","298,304","31,610","360,819"
3,1,0.7,0.8,1.1,0.7,0.7,0.6,1.1,1.9,1.1,...,0.8,0.9,0.4,0.6,0.8,0.6,1.1,0.6,0.7,1.8
4,7.2,6.6,4.1,6.3,4.1,5.7,4.1,5.3,8,6.8,...,5.8,6.5,5,2.4,4.6,4,6.5,4.5,5.9,5.7

In [41]:
#Pull out percentages
percentage = census_file.loc[:,census_file.columns.str.contains("Percent")]
percentage.head()

,Alabama_Percent,Alaska_Percent,Arizona_Percent,Arkansas_Percent,California_Percent,Colorado_Percent,Connecticut_Percent,Delaware_Percent,District of Columbia_Percent,Florida_Percent,...,Tennessee_Percent,Texas_Percent,Utah_Percent,Vermont_Percent,Virginia_Percent,Washington_Percent,West Virginia_Percent,Wisconsin_Percent,Wyoming_Percent,Puerto Rico_Percent
0,"2,313,616","327,889","3,138,685","1,380,768","14,512,149","2,540,783","1,536,327","457,978","357,482","10,054,509",...,"3,087,992","11,867,820","1,190,154","336,747","3,652,329","3,257,140","858,462","2,748,274","274,373","1,526,801"
1,85.00%,82.70%,89.80%,85.70%,92.50%,91.00%,93.00%,86.40%,89.40%,85.20%,...,89.70%,91.00%,92.60%,80.20%,91.20%,92.80%,84.10%,89.10%,88.50%,76.40%
2,15.00%,17.30%,10.20%,14.30%,7.50%,9.00%,7.00%,13.60%,10.60%,14.80%,...,10.30%,9.00%,7.40%,19.80%,8.80%,7.20%,15.90%,10.90%,11.50%,23.60%
3,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
4,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)

In [42]:
#Occupancy percentage df 
occupied_p = percentage.iloc[1]
vacant_p = percentage.iloc[2]

occupancy_per_df = pd.DataFrame({"Occupied": occupied_p, 
        "Vacant": vacant_p
        })

occupancy_per_df["Occupied"] = occupancy_per_df["Occupied"].str.replace("%","").astype(float)
occupancy_per_df["Vacant"] = occupancy_per_df["Vacant"].str.replace("%","").astype(float)

occupancy_per_df.head()

                    Occupied  Vacant
Alabama_Percent         85.0    15.0
Alaska_Percent          82.7    17.3
Arizona_Percent         89.8    10.2
Arkansas_Percent        85.7    14.3
California_Percent      92.5     7.5

In [47]:
#Value estimate df
less_than_fifty = estimate.iloc[80]
fifty = estimate.iloc[81]
hundred = estimate.iloc[82]
hundredfifty = estimate.iloc[83]
twohundred = estimate.iloc[84]
threehundred = estimate.iloc[85]
fivehundred = estimate.iloc[86]
million = estimate.iloc[87]

value_est_df = pd.DataFrame({
        "Less than $50,000": less_than_fifty, 
        "$50,000 to $99,999": fifty, 
        "$100,000 to $149,999": hundred, 
        "$150,000 to $200,999": hundredfifty, 
        "$300,000 to $499,999": threehundred, 
        "$500,000 to $999,999": fivehundred, 
        "$1,000,000 or more": million
        })

value_est_df["Less than $50,000"] = value_est_df["Less than $50,000"].str.replace(",","").astype(int)
value_est_df["$50,000 to $99,999"] = value_est_df["$50,000 to $99,999"].str.replace(",","").astype(int)
value_est_df["$100,000 to $149,999"] = value_est_df["$100,000 to $149,999"].str.replace(",","").astype(int)
value_est_df["$150,000 to $200,999"] = value_est_df["$150,000 to $299,999"].str.replace(",","").astype(int)
value_est_df["$300,000 to $499,999"] = value_est_df["$300,000 to $499,999"].str.replace(",","").astype(int)
value_est_df["$500,000 to $999,999"] = value_est_df["$500,000 to $999,999"].str.replace(",","").astype(int)
value_est_df["$1,000,000 or more"] = value_est_df["$1,000,000 or more"].str.replace(",","").astype(int)

value_est_df.head()

,"Less than $50,000","$50,000 to $99,999","$100,000 to $149,999","$150,000 to $200,999","$300,000 to $499,999","$500,000 to $999,999","$1,000,000 or more"
Alabama_Estimate,152320,214121,206515,214277,220481,81862,13046
Alaska_Estimate,9697,7465,10389,14587,67659,23199,1900
Arizona_Estimate,125692,73229,85306,137958,670511,363242,66660
Arkansas_Estimate,87515,136544,131059,141984,95301,37580,7883
California_Estimate,206642,143160,109937,134105,1547969,3163235,1732684

In [52]:
#Gross Rent percentage df
less_than_fifteen = percentage.iloc[136]
fifteen = percentage.iloc[137]
twenty = percentage.iloc[138]
twentyfive = percentage.iloc[139]
thirty = percentage.iloc[140]
thirtyfive = percentage.iloc[141]

gross_rent_per_df = pd.DataFrame({
        "Less than 15%": less_than_fifteen, 
        "15% to 19.9%": fifteen, 
        "20% to 24.9%": twenty, 
        "25% to 29.9%": twentyfive, 
        "30% to 34.9%": thirty,  
        "35% or more": thirtyfive
        })

gross_rent_per_df["Less than 15%"] = gross_rent_per_df["Less than 15%"].str.replace("%","").astype(float)
gross_rent_per_df["15% to 19.9%"] = gross_rent_per_df["15% to 19.9%"].str.replace("%","").astype(float)
gross_rent_per_df["20% to 24.9%"] = gross_rent_per_df["20% to 24.9%"].str.replace("%","").astype(float)
gross_rent_per_df["25% to 29.9%"] = gross_rent_per_df["25% to 29.9%"].str.replace("%","").astype(float)
gross_rent_per_df["30% to 34.9%"] = gross_rent_per_df["30% to 34.9%"].str.replace("%","").astype(float)
gross_rent_per_df["35% or more"] = gross_rent_per_df["35% or more"].str.replace("%","").astype(float)

gross_rent_per_df.head()

,Less than 15%,15% to 19.9%,20% to 24.9%,25% to 29.9%,30% to 34.9%,35% or more
Alabama_Percent,15.1,13.1,11.0,10.9,9.0,40.9
Alaska_Percent,13.3,13.4,11.8,11.9,10.6,39.0
Arizona_Percent,12.1,12.1,12.2,12.2,8.9,42.5
Arkansas_Percent,16.5,13.4,13.4,11.3,10.1,35.3
California_Percent,10.2,10.9,12.0,11.2,9.4,46.4

In [53]:
database = 'Resources/data.sqlite'
conn = sqlite3.connect(database)

In [54]:
# cursor = conn.cursor()
# cursor.execute("DROP TABLE Users")

# Enter all tables into the DB
gross_rent_per_df.to_sql(name='Gross Rent Percentage', con=conn)
gross_rent_est_df.to_sql(name='Gross Rent Estimate', con=conn)
mortgage_per_df.to_sql(name='Mortgage Percentage', con=conn)
mortgage_est_df.to_sql(name='Mortgage Estimate', con=conn)
value_per_df.to_sql(name='Value Percentage', con=conn)
value_est_df.to_sql(name='Value Estimate', con=conn)
tenure_per_df.to_sql(name='Tenure Percentage', con=conn)
tenure_est_df.to_sql(name='Tenure Estimate', con=conn)
bedroom_per_df.to_sql(name='Bedroom Percentage', con=conn)
bedroom_est_df.to_sql(name='Bedroom Estimate', con=conn)
occupancy_per_df.to_sql(name='Occupancy Percentage', con=conn)
occupancy_est_df.to_sql(name='Occupancy Estimate', con=conn)

ValueError: Table 'Gross Rent Percentage' already exists.